@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.App{
  width: 100%;
  min-height: 70vh;
  color:  hsl(220, 13%, 13%);
}
.initial{
  all: initial;
}
.font-type{
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}
.row-space-btw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar{
  padding: 3vh;
  width: calc(100% - 6vh);
  height : 3vh
}
.left-nav{
  width: 28vh;
}
.logo{
  height: 3vh;
}
.right-nav{
  width: 10vh;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.75);
  z-index: 6;
}
.nav-content{
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width: 50%;
  background-color: white;
  z-index: 8;
  display: flex;
  padding: 3vh;
  flex-direction: column;
  row-gap: 2.5vh;
  font-weight: 700;
}
.expanded-cart-section{
  position: absolute;
  top: 10vh;
  right: 1.5vh;
  height:35vh;
  width: 95%;
  background-color: white;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  z-index: 6;
}
.empty-msg{
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  text-align: center;
}
.cart-title{
  font-weight: 700;
  padding: 3vh;
  height: 3vh;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.expanded-content{
  width: calc(100% - 6vh);
  height: calc(80% - 6vh);
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3vh;
}
.prod-notify{
  position: absolute;
  top: 2vh;
  right: 9vh;
  width: 3vh;
  height: 2vh;
  border-radius: 50%;
  background-color: hsl(26, 100%, 55%);
  font-size: 10px;
  color: white;
  text-align: center;
  font-weight: 700;
}
.prod-container{
  width: 100%;
  height: 10vh;
}
.delete-img{
  width: 3vh;
}
.added-prod-img{
  width: 8vh;
  border-radius: 1vh;
}
.check-btn{
  width: calc(100% - 4vh);
  height: 3vh ;
  padding: 2vh;
  background-color: hsl(26, 100%, 55%);
  border-radius: 1vh;
  text-align: center;
  font-weight: 700;
}
.cart-product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-section{
  width: 100%;
}
.main-img-section{
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.main-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arr-imgs{
  display: none;
}
.slider{
  position: absolute;
  height: 6vh;
  z-index: 5;
  padding: 0 2vh;
  width: calc(100% - 4vh);
  top: 25vh;
}
.slide-btn{
  all: initial;
  width: 6vh;
  height: 6vh;
  border-radius: 100%;
  background-color: hsl(25, 100%, 94%);
}
.product-desc{
  flex-direction: column;
  padding: 3vh; 
  row-gap: 3vh;
}
.details{
  flex-direction: column;
}

.brand{
  color: hsl(219, 9%, 45%);
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
}

.shoe-type{
  font-weight: 700;
  font-size: 30px;
  padding: 2vh 0;
}

.shoe-desc{
  font-size: 14px;
  color:hsl(219, 9%, 45%);
  line-height: 3vh;
}

.price-details{
  width: 100%;
  height: 5vh;
  font-weight: 700;
}

.current-price{
  width: 23vh;
}

.price{
  font-size: 25px;
}

.discount{
  background-color: hsl(220, 13%, 13%);;
  color: white;
  padding: 0.5vh 1vh;
  border-radius: 1vh;
}

.MRP{
  text-decoration: line-through;
  color: hsl(219, 9%, 45%);
}

.add-to-cart{
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap:3vh;
}

.counter{
  width: calc(100% - 4vh);
  height: 2vh;
  background-color: hsl(223, 64%, 98%);
  border-radius: 1vh;
  padding: 2vh;
  font-weight: 700;
}

.btn-section{
  width: calc(100% - 6vh);
  height: 2vh;
  padding: 3vh;
  border-radius: 1vh;
  background-color:  hsl(26, 100%, 55%);
  font-weight: 700;
  column-gap: 3vh;
  box-shadow: 0 16px 20px 0 hsl(25, 99%, 72%);
  cursor: pointer;
}

.point{
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.show{
  display: flex;
}

.hide , .menu-content, .product-img{
  display: none;
} 



@media screen and (min-width: 374px) {
  .main-img-section{
    height: 45vh;
  }
  .slider{
    top: 27.5vh;
  }
}

@media screen and (min-width: 500px){
  .main-img-section{
    height: 60vh;
  }
  .slider{
    top: 35vh;
  }
}

@media screen and (min-width: 1000px){
  .App{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar{
    padding: 4vh 0;
    width: 80%;
    height : 5vh;
    border-bottom: 1px solid hsl(219, 9%, 45%);
  }
  .left-nav{
    width: 80vh;
  }
  .right-nav{
    width: 13vh;
  }
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.75);
    z-index: 6;
  }
  .nav-content{
    display: none;
  }
  .menu-content{
    column-gap: 2vh;
    color: hsl(219, 9%, 45%);
  }
  .expanded-cart-section{
    position: absolute;
    top: 10vh;
    right: 5vh;
    height:35vh;
    width: 50vh;
    box-shadow: 0 10px 15px 0 hsl(220, 14%, 75%);
  }
  
  .prod-container{
    width: 100%;
    height: 10vh;
  }
  .delete-img{
    width: 3vh;
  }
  .added-prod-img{
    width: 8vh;
    border-radius: 1vh;
  }
  .check-btn{
    width: calc(100% - 4vh);
    height: 3vh ;
    padding: 2vh;
    background-color: hsl(26, 100%, 55%);
    border-radius: 1vh;
    text-align: center;
    font-weight: 700;
  }
  .cart-product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10vh;
    width: calc(80% - 20vh);
    height: 70%;
    padding: 10vh;
  }
  .img-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .main-img-section{
    display: none;
  }
  .main-img{
    display: none;
    border-radius: 2vh;
  }
  .product-img{
    display: block;
    width: 100%;
    border-radius: 2vh;
    cursor: pointer;
  }
  .arr-imgs{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .arr-imgs > img{
    height: 10vh;
    border-radius: 1vh;
  }
  .slider{
    display: none;
    position: absolute;
    height: 6vh;
    z-index: 5;
    padding: 0 2vh;
    width: calc(100% - 4vh);
    top: 25vh;
  }
  .slide-btn{
    all: initial;
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    background-color: hsl(25, 100%, 94%);
  }
  .product-desc{
    display: flex;
    flex-direction: column;
    padding: 3vh; 
    row-gap: 3vh;
  }
  .details{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  
  .brand{
    color: hsl(219, 9%, 45%);
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 16px;
  }
  
  .shoe-type{
    font-weight: 700;
    font-size: 40px;
    padding: 2vh 0;
  }
  
  .shoe-desc{
    font-size: 16px;
    color:hsl(219, 9%, 45%);
    line-height: 3vh;
  }
  
  .price-details{
    width: 100%;
    height: 10vh;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2vh;
  }
  
  .current-price{
    width: 23vh;
  }
  .price{
    font-size: 30px;
  }
  
  .discount{
    background-color: hsl(220, 13%, 13%);;
    color: white;
    padding: 0.5vh 1vh;
    border-radius: 1vh;
  }
  
  .MRP{
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
    font-size: 20px;
  }
  
  .add-to-cart{
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap:2vh;
  }
  
  .counter{
    width: calc(40% - 4vh);
    height: 4vh;
  }
  
  .btn-section{
    width: calc(60% - 6vh);
    height: 2vh;
  }
  
  .point{
    cursor: pointer;
  }
  .highlight{
    border: 4px solid hsl(26, 100%, 55%);
    opacity: 0.5;
  }
  
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .show{
    display: flex;
  }
  
  .hide, .menu-logo ,.prod-notify{
    display: none;
  } 
}